@{
    ViewData["Title"] = "Create a new Nonogram Puzzle";
}

@using NonogramPuzzle.ViewModels
@model BoardViewModel

<h2>Create Nonogram Puzzle Board</h2>

<form>
    <button name="save" value="Save" type="submit" asp-controller="CellViewModels" asp-action="SavePuzzle">Save Puzzle</button>
    <br>
    <br>
</form>

@{
  string[] imageNames = {"whitecell.png", "blackcell.png"};
}

<form> 
  <div class="cell-zone">
    <input name="height" value="@Model.Height" type="hidden" asp-controller="CellViewModels" asp-action= "HandleCellClick" ></input>
    <input name="width" value="@Model.Width" type="hidden" asp-controller="CellViewModels" asp-action= "HandleCellClick" ></input>
    @for (int i = 0; i < @Model.CellViewModels.Count(); i++)
    {
      if (i % @Model.Width == 0)
      {
        <div class="line-break"></div>
      }

      <div class="puzzleCell">
        <button name="cellNumber" value="@Model.CellViewModels.ElementAt(i).CellId" type="submit" asp-controller="CellViewModels" asp-action= "HandleCellClick" >
        <img class="puzzleCellImage" src="~/img/@imageNames[Model.CellViewModels.ElementAt(i).CellState]" />
        <div class="cellLabel">
          @Model.CellViewModels.ElementAt(i).CellId, @Model.CellViewModels.ElementAt(i).NonogramId ;
        </div>
          </button>
        </div> 
    }  
  </div>
</form>

