@{
    ViewData["Title"] = "Create a new Nonogram Puzzle";
}

@using NonogramPuzzle.Models 
@model NonogramPuzzle.Models.Nonogram

<h2>Create a new Nonogram Puzzle</h2>

  @using (Html.BeginForm("Create","Nonograms","FormMethod.Post"))
  {
      @Html.LabelFor(model => model.NonogramHeight, "Board Height: ")
      @Html.TextBoxFor(model => model.NonogramHeight)

      @Html.LabelFor(model => model.NonogramWidth, "Board Width: ")
      @Html.TextBoxFor(model => Model.NonogramWidth)

      <input type="submit" value="Create" class="btn btn-prmary"/>     
  } 

<p>@Html.ValidationMessageFor(model => model.NonogramHeight,"",new {@class = "text-danger", @style ="font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.NonogramWidth,"", new {@class= "text-danger",@style ="font-weight: 600;"})</p>
