
@{
    ViewData["Title"] = " Solve Nonogram Puzzle";
}

@model NonogramPuzzle.Models.Nonogram;
@using NonogramPuzzle.Models;
@using System.Collections.Generic;

<h2>Nonogram Details</h2>
<hr />
<h3> Playing Board:  Height- @Html.DisplayFor(model => model.NonogramHeight), Board Width - @Html.DisplayFor(model => model.NonogramWidth), Area: @Html.DisplayFor(model => model.NonogramDim)</h3> 

@{
<h3>Solving Board : Height: @Html.DisplayFor(model => model.solvingBoardHeight), Width - @Html.DisplayFor(model => model.solvingBoardWidth),  Solving Board Area: @Html.DisplayFor(model => model.solvingBoardDim)</h3>

@* add red? *@
    string[] imageNames = {"whitecell.png", "blackcell.png"};
  }


 <form> 
  <div class="cell-zone">
    <input name="id" value="@Model.NonogramId" type="hidden" asp-controller="Nonograms" asp-action= "HandleCellClickSolve" ></input>

    @for (int i = 0; i < @Model.Cells.Count(); i++)
    {
      if (i % @Model.solvingBoardWidth == 0)
      {
        <div class="line-break"></div>
      }

      <div class="puzzleCell">
        <button name="cellNumber" value="@Model.Cells.ElementAt(i).CellId" type="submit" asp-controller="Nonograms" asp-action= "HandleCellClickSolve" >
        <img class="puzzleCellImage" src="~/img/@imageNames[Model.Cells.ElementAt(i).CellState]" />
        <div class="cellLabel">
          @Model.Cells.ElementAt(i).CellId, @Model.Cells.ElementAt(i).NonogramId ;
        </div>
        </button>
      </div> 
    }  
  </div>
</form>

@if (@Model.Cells.Count == 0)
{
  <h3>No cells have been added to this Nonogram yet!</h3>
}
else
{
  <h4>Cells in this Nonogram:</h4>
  <ul>
    @foreach (Cell cell in Model.Cells)
    {
  
          <li>Cell Id: @cell.CellId and Cell State: @cell.CellState</li>  
    }
  </ul>
}

<form>

  <button name="check" value="Check Puzzle" type="submit" asp-controller="Nonograms" asp-action="CheckPuzzle">Check Puzzle</button>
  <br>
  <br>
</form>

<p>@Html.ActionLink("Edit Nonogram", "Edit", new {id = Model.NonogramId})</p>
<p>@Html.ActionLink("Delete Nonogram", "Delete", new { id = @Model.NonogramId})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
